.list-inline-item .btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }

  
  .Nav_link:link {
    color: tomato;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .Nav_link:visited {
    color: tomato;
    text-decoration: none;
  }
  .Nav_link:hover {
    color: tomato;
    text-decoration: none;
  }
  .Nav_link:active {
    color: tomato;
    text-decoration: none;
  }
  
  .Nav_link {
    list-style-type:none;
    display: block;
    margin-top: 2%;
  }

  .Nav_link_two:link {
    color: tomato;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
  }
  .Nav_link_two:visited {
    color: tomato;
    text-decoration: none;
  }
  .Nav_link_two:hover {
    color: tomato;
    text-decoration: none;
  }
  .Nav_link_two:active {
    color: tomato;
    text-decoration: none;
  }
  
  .Nav_link_two {
    float: right;
    list-style-type:none;
    display: block;
    margin-right: 1em;
  }
  
  .modal-content {
    height: 500px;
  }
  .p {
   font-size: 10px;
  }

.mdp {
    color: #f4c10f
}

.li-list {
    display: inline-flex;
    padding: .1em;
    color: tomato;
}

.cast {
    text-align: center;
    font-size: 50px;
}

.table {
    display: table;
    float: right;
    box-sizing: border-box;
}

.cast-image {
    border-radius: 50%;
    padding: 2em;
}

.cast-name {
    text-align: center;
    font-weight: bold;
}

.cast-character {
    text-align: center;
}

.cast-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1%;
}

.mdc {
  margin-left: 1.5%;
}

.similar-titles {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 1%;
}

.trm {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 1%
}

.genre-row {
  margin-top: 5px;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mbg {
  padding: 5px;
}

.tr {
  padding: 10px;
}

.top-rated-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sml {
  padding: 10px;
}

.similar-movie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrapper {
  margin-left:  1.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box3 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.box4 {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box5 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.genre-inline {
  list-style: none;
  display: inline;
}

.genre-btn {
  outline: none;
  border: none;
  color: tomato;
  background-color: transparent;
}

.movie-rating {
  margin-top: 2%;
}

input[type=text] {
  border-width:0px;
  border:none;
  text-decoration: none;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: white;
  -webkit-appearance: none
}

.card-list {
  background-color: black;
}

.s-button {
  background-color: transparent;
  color:tomato;
  outline: none;
  border: none;
}

.ac {
}
.hr {
  border-top: 1px solid #5a606b;
}

.search-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 80%;
  padding: 1em;
}

.genre-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.movie-modal {
  height: max-content;
  width: max-content;
}

